{% extends 'base.html' %}

{% block title %} List Data {% endblock %}

{% block header %} Tabel Data{% endblock %}

{% block body %}
    <a href="{{ url_for('input_data') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">Input Data</a>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Telp</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Riyan Afriyanda</td>
                <td>Afriyandariyan@gmail.com</td>
                <td>085218513459</td>
                <td>Jambi</td>
                <td>
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger" onclick="return confirm('Apakah anda yakin hapus data ini?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}